<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Gauss Jordan</title>
    <!--Link al css, es necesario descargar el archivo css para que la página cargue con los archivos-->
    <link rel="stylesheet" href="/static/css/styles.css">
  
</head>
<body>
    <body>
        <div class="PRINCIPAL">
            <div class="inicio">
                <h1>Calculadora Gauss Jordan</h1>
                <div class="encabezado">
                    <nav>
                        <!--Navegación-->
                        <a href="DyD">Cargar Matriz</a>
                        <a href="Manual">Introducir Matriz</a>
                    </nav>
                </div>
                <div class="main">
                    <!--Caja Principal-->
                         <div class="infosec1">
                            <h2>Introducción</h2>
                            <section class="Letras">
                              
                                <p align="center">¡Bienvenido a nuestra página web diseñada por el grupo 2am2!</p>
                                <p>Esta herramienta está diseñada para calcular la matriz de forma Gauss-Jordan de manera rápida y sencilla. La página cuenta con dos modalidades para ingresar la matriz: la primera es arrastrar un archivo de texto con la matriz, y la segunda es agregar la matriz manualmente. Ambas opciones te permiten obtener la matriz reducida de Gauss-Jordan en cuestión de segundos.</p>
                                   <p align="center"> ¡Comienza a utilizar nuestra herramienta y simplifica tus cálculos matriciales!</p>
                            <section/>
                         </div>
                        
                    
                 </div>
                                     
        </div>
    </body>
            
        </div>
    </div>
</body>
</html>
